body {
    color: #5e5234;
    font-family: Montserrat, Open Sans, Lato ,sans-serif;
}

.anchor span {
    color: #56544e;
    font-weight:600;
}

.markdown-section {
    max-width:600px;
    letter-spacing: -0.02rem;
    line-height: 1.2rem;
}

.markdown-section a {
    color: inherit;
    font-weight: inherit;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}

.markdown-section a:hover{
    text-decoration-color: #f36;
}

.markdown-section h2 {
    font-size: 1.6em;
}

.markdown-section h3 {
    font-size: 1.3em;
}

.markdown-section h4 {
    font-size: 1em;
    margin-bottom: -0.6em;
}

.markdown-section blockquote {
    border-left: 3px solid #eee;
    color: #999;
   font-family: Montserrat Italic, Open Sans, Lato ,sans-serif;
}

.markdown-section blockquote p {
  font-weight:inherit;
}

.markdown-section table{
  font-weight:inherit;
}

.markdown-section td, .markdown-section th {
    border: 1px solid #eee;
    padding: 15px;
}


.sidebar {
    border: 1px;
    padding: 40px 30px;
}

.sidebar ul li.active>a{
    color:#f36;
    font-weight:inherit;
}

.content {
    left: 200px;
}

.sidebar-toggle {
    bottom: inherit; 
}

.sidebar-toggle span {
    background-color: #f36;
}