body {
    color: #5e5234;
    font-family: Montserrat, Open Sans, Lato ,sans-serif;
  
  
}

.anchor span {
    color: #56544e;
    font-weight:500
}

.markdown-section a {
    color: #ff3366;
    font-weight:inherit;
}

.markdown-section h2 {
    font-size: 1.4rem;
}

.markdown-section h3 {
    font-size: 1.1rem;
}

.markdown-section blockquote {
    border-left: 3px solid #eee;
    color: #999;
   font-family: Montserrat Italic, Open Sans, Lato ,sans-serif;
}

.markdown-section blockquote p {
  font-weight:inherit;
}

.markdown-section table{
  font-weight:inherit;
}

.markdown-section td, .markdown-section th {
    border: 1px solid #eee;
    padding: 15px;
}

.markdown-section {
    max-width:600px;
}

.sidebar {
    border: 1px;
    padding: 40px 30px;
}

.sidebar ul li.active>a{
    color:#f36;
    font-weight:inherit;
}

.content {
    left: 200px;
}

.sidebar-toggle {
    bottom: inherit; 
}

.sidebar-toggle span {
    background-color: #f36;
}